/* General reset and styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #fff;
  width: 30%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#nameForm {
  width: 100%;
  padding: 1.6rem;
  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}
.btn:hover {
  background-color: gray;
  border-radius: 0;
  color: white;
  border: none;
}
